* {
    font-size: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #98fb98;
}

#kontener {
    text-align: center;
    width: 100%;    
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    

}

.item {
    display: inline-block;

    width: 20%;
    height: 25vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 10px;
}

.cover {
    position: relative;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 111, 0, 0.8);

    opacity: .0;
}

#i1 {
    background-image: url(../img/product-1.jpg)
}

#i2 {
    background-image: url(../img/product-2.jpg)
}

#i3 {
    background-image: url(../img/product-3.jpg)
}

#i4 {
    background-image: url(../img/product-4.jpg)
}

i {
    position: absolute;
    display: block;

    font-size: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cover:hover {
    opacity: 1;
    transition: all .5s ease;
}

.cover:hover a {
    color: white;
    opacity: 1.0;
}

@media (max-width: 992px) {
    .item {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .item {
        width: 80%;
    }
}